
<div class="row center-xs">

   <div class="clo-xs-8 col-md-6">

     <div class="box text-left">
        
         <h1 class="text-blue"><%= @competition.name %></h1>  

         <% imageCloudFront = ENV['AWS_CLOUD_FRONT'] + 'images/' + @competition.id.to_s + '-' + @competition.image_original_filename.to_s %>
         <img src= <%= imageCloudFront.to_s %> alt="Fondo" style="width:80%;height:300px;">
     
         <p>
           <strong>Url del concurso:</strong>
           <%= request.original_url %>
         </p>

         <p>
           <strong>Fecha de inicio:</strong>
           <%= @competition.dateStart.strftime('%Y/%m/%d %H:%M:%S') %>
         </p>

         <p>
           <strong>Fecha de cierre:</strong>
           <%= @competition.dateEnd.strftime('%Y/%m/%d %H:%M:%S') %>
         </p>

         <p>
           <strong>Premio:</strong>
           <%= @competition.prize %>
         </p>

         <%= link_to 'Editar', edit_competition_path(@competition), class:"btn btn-primary active" %>
         <%= link_to 'Atras', competitions_path, class:"btn btn-warning active" %>

         <div class="field">
           <br>
           <h2 class="text-blue">Participe en el concurso</h2>
           <%= render "videos/form" %>

           <BR>

           <h2 class="text-blue">Lista de videos</h2>

           <ul>
             <% @competition_videos.each do |video| %>
                <% if Rails.cache.read("user_id") or video.state == "Procesado" %>
                  <br><br>
                  <p><b>Fecha de publicación: </b><%= video.created_at %> </p>
                  <p><b>Autor: </b> <%= video.name_autor + " " + video.last_name_autor %> </p>

                  <% unless video.state == "En proceso" %>
                    <video width="500" height="240" controls="controls">
                      <source src= <%= video.url_converted_video %> >
                        Su buscador no soporta el video-tag
                    </video>
                  <% end %>

                  <p><b>Comentario: </b><%= video.comment %> </p>

                  <% if Rails.cache.read("user_id") %>
                    <%= link_to " Ver Detalles", [video.competition, video], class:"btn btn-primary active" %>
                  <br>
                  <% end %>

                <% end %>
             <% end %>
           </ul>


<% if false %>
            <div align="center">
              <%= will_paginate @competition_videos%>
            </div>
<% end %>

         </div>

  </div>

</div>