<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> No se puede crear el usuario, corrija los errores:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name, "Nombres" %>
      <%= f.text_field :name, autofocus: true, class:"form-control" %>
  </div>

  <div class="field">
      <br /><%= f.label :last_name, "Apellidos" %>
      <%= f.text_field :last_name, class:"form-control" %>
  </div>

  <div class="field">
      <br /><%= f.label :email, "Correo electrónico" %>
      <%= f.email_field :email, class:"form-control" %>
  </div>

  <div class="field">
      <br /><%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
      <br /><%= f.label :password_confirmation, "Confirmar contraseña" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar", class:"btn btn-success active"%>
    <%= link_to 'Atras', "/", class:"btn btn-warning active" %>
  </div>

  <%
cache.set("foo", "bar")

%>

<% end %>
