<%= form_for([@competition,@video]) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> La carga de video tiene errores por favor corrijalos:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Datos del Autor</h3>

  <div class="field">
    <%= f.label :name_autor, "Nombres" %>
    <%= f.text_field :name_autor, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :last_name_autor, "Apellidos" %>
    <%= f.text_field :last_name_autor, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :email_autor %>
    <%= f.text_field :email_autor, class:"form-control" %>
  </div>

  <div class="field">
    <b>Video a subir</b><%= f.file_field :video_file %>
  </div>

  <div class="field">
    <%= f.label :comment, "Comentario del video" %>
    <%= f.text_area :comment, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Crear participación", class:"btn btn-success active" %>
  </div>
<% end %>
