<div class="row center-xs">
   <div class="clo-xs-8 col-md-6">
     <div class="box text-left">

<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <h2 class="text-blue">Datos del Autor</h2>

  <p>
    <strong>Nombres:</strong>
    <%= @video.nombreAutor %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= @video.apellidoAutor %>
  </p>

<%# videoToConvert = Rails.root.join("public") %>
<%#      movie = FFMPEG::Movie.new(videoToConvert.to_s + @video.videoOriginal.to_s) %>

  <p>
    <strong>Email:</strong>
    <%= @video.email %>
  </p>

  <video width="500" height="240" controls="controls">
    <source src= "<%= @video.videoOriginal %>" >
     Su buscador no soporta el video-tag
  </video>

  <p>
    <strong>Fecha de creación:</strong>
    <%= @video.created_at %>
  </p>

  <p>
    <strong>Estado del video:</strong>
    <%= @video.estado %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= @video.comentario %>
  </p>
<% end %>

<%= link_to "Atras", @competition, class:"btn btn-danger active" %>

    </div>
  </div>
</div>
