<div class="row center-xs">
   <div class="clo-xs-8 col-md-6">
     <div class="box text-left">

<% if Rails.cache.read("user_id") %>

  <h2 class="text-blue">Datos del Autor</h2>

  <p>
    <strong>Nombres:</strong>
    <%= @video.name_autor %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= @video.last_name_autor %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @video.email_autor %>
  </p>

<% if false %>

  <video width="500" height="240" controls="controls">
    <source src= "<%= @video.videoOriginal %>" >
     Su buscador no soporta el video-tag
  </video>

<% end %>

  <p>
    <strong>Fecha de creación:</strong>
    <%= @video.created_at %>
  </p>

  <p>
    <strong>Estado del video:</strong>
    <%= @video.state %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= @video.comment %>
  </p>


<% VideoConvertedMailer.notify(@video).deliver %>

  
<% end %>

<%= link_to "Atras", @competition, class:"btn btn-warning active" %>

    </div>
  </div>
</div>
