<img src="PortadaImag/ImVideos.jpg" alt="Fondo" style="width:100%;height:500px;">
<br>

<br>
<br>
<h1 align="center" class="no-margin font-ti text-blue"><b><i>Crea concursos de videos</i></b></h1>
<br>
<div class="margin-d">
	<h3 align="center" class="no-margin font-tittle text-blue">Crea un concurso de videos para los clientes o personal de tu empresa, e invitalos a subir sus videos para que escojas el ganador. Registrate, inicia sesión y aprovecha</h3>
</div>
<br>
<br>
<br>
<div align="center">
	<img src="PortadaImag/Im1.jpg" class="img-circle" alt="Cinque Terre" width="350" height="236" hspace="20">
	<img src="PortadaImag/Im2.jpg" class="img-circle" alt="Cinque Terre" width="350" height="236" hspace="20">
	<img src="PortadaImag/Im3.jpg" class="img-circle" alt="Cinque Terre" width="350" height="236" hspace="20">
</div>

host = <%= @host %>
<br>
host = <%= @hostsocket %>
<br>
ip = <%= request.remote_ip %>
<br>
port = <%= request.host_with_port %>
<br>
ip test = <%= @iptest %>
<br>
ipv4 = <%= @sock1 %>
<br>
ipv4 private = <%= @sock2 %>
<br>
ipv4 public = <%= @sock3 %>