<!DOCTYPE html>
<html>

  <head>

    <title>SmartTools 4.0</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

	  <header>

	    <nav class="be-purple white large-padding">

	    	<ul class="no-list row center-xs middle-xs">

          <li class="col-md no-point">
            <h1 class="no-margin font-tittle"><b><i>Smart Tools 4.0</i></b></h1>
          </li>

  	    	<li class="col-md no-point">
  	    		<%= link_to "Inicio", root_path, class:"btn-link" %>
  	    	</li>

          <% if !Rails.cache.read("user_id") %>             

              <li class="col-md no-point">
                  <%= link_to "Iniciar sesión", init_session_path, class:"btn-link" %>
              </li>

              <li class="col-md no-point">
                  <%= link_to "Crear cuenta", new_user_path, class:"btn-link" %>
              </li>
          
          <% else %>

              <li class="col-md no-point">
                <%= link_to "Mis Concursos", competitions_path, class:"btn-link" %>
              </li>

              <li class="col-md no-point">
                  <%= link_to "Cerrar sesión", end_session_path, method: :delete, class:"btn-link" %>
              </li>

          <% end %>

	    	</ul>

	    </nav>

	</header>

    <div class="container">
        <% flash.each do |key, value| %>
           <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>      
    </div>

    <%= yield %>
    
  </body>

</html>
